* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c9c9c9;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container {
  background: #fff;
  width: 600px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  overflow: hidden;
}

.quiz-header {
  padding: 2rem;
}

h2{
    margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li{
    margin:1rem 0;
    font-size: 1.2rem;
}

button {
  background: darkcyan;
  display: block;
  width: 100%;
  padding: 1.3rem;
  color: white;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover{
    background: blue;
}
